<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="enzo.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>EDOUGA JEAN PATRICK</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developpeur web</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Yaoundé, Cameroun</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>edougajean@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+237676344842</p>
          <hr>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Compétences</b></p>
          <p>Java, PHP, Ruby, C</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>Ruby On Rails</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>Spring-boot</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">
              <div class="w3-center w3-text-white">70%</div>
            </div>
          </div>
          <p>Symfony</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:55%">55%</div>
          </div>
          <p>Web : Html/css, Bootsrap, AngularJs, VueJs</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:65%">65%</div>
          </div>
          <p>Systèmes :  Windows, Ubuntu, MacOS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">75%</div>
          </div>
          <p>Suite office</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Langues</b></p>
          <p>Fançais</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>
          <p>Anglais</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:40%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Expérience professionnelle</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Developpeur Web chez E & F Consulting</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>29 Sept 2016 - 03 Oct 2018</h6>
          <p>Collecte des informations auprès des clients pour préparer les
            futurs besoins des différentes applications à réaliser ;
            préparation des plateformes et outils de développement ;
            Codage des applications et réalisation des tests ; Analyse et
            conception des différents diagrammes des applications.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Stagiaire It au CARPA</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2018 - Juil 2018</h6>
          <p>Réalisation de l’application de gestion et du suivi du courrier et
            de projet ; Rédaction des rapports des réunions hebdomadaires
            et annuelles ; diagnostique du matériel informatique et réseau et
            dépannage de certaines pannes.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Stagiaire It au Ministère des Arts et de la Culture</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Juil 2018 - Sept 2018</h6>
          <p>Mise en place du schéma directeur ; Maintenance informatique
            et réseau au Minac, mise à jour du fichier des artistes recensés
            au près du Minac.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Stagiaire It à E & F Consulting</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Juin 2018 - Sept 2018</h6>
          Réalisation d’une application E-commerce, réalisation du
          cahier de charge et analyse des données
        </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Ecole Nationale Supérieure Polytechnique de Maroua (ENSPM)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - 2018</h6>
          <p>Ingénieur concepteur informatique option Génie Logiciel</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Ecole Nationale Supérieure Polytechnique de Maroua (ENSPM)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2016</h6>
          <p>Ingénieur des travaux en informatique de gestion</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Lycée Général Leclerc</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2012</h6>
          <p>Baccalaureat C</p><br>
        </div>
      </div>
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</div>
<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Retrouvez-moi sur les médias sociaux.</p>
  <a href="https://www.facebook.com/jeanpatrick.edouga"><i class="fa fa-facebook-official w3-hover-opacity"> </i></a>
  <a href="https://www.instagram.com/enzo.kenza"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://twitter.com/JeanEdouga"> <i class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/jean-patrick-edouga"> <i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <p>Powered by <a href="#" target="_blank">edougajean</a></p>
</footer>
